* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
header {
    width: 100%; 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

body {
    height: 100vh; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3a3745;
    
  }

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../asset/wallpaper/fundo-index.png);
  background-size: cover;
  background-position: center;
  opacity: 0.4; 
  z-index: -1;

}

.logotipo img {
  min-width: 308.350px;
  width: 22vw;
  
}

.logotipo{ 
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center; 
  padding-top:  50px;
  padding-bottom: 30px;
  padding-left: 70px;

}

.pesquisatopo{
  display: flex;
  padding-right: 70px;
    
}

.menu-btn{
  display: none;
}   

.linkstopo{
  background-color: white;
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #716565;

}

.linkscategoria{
  display: flex;
  background-color: #716565;
  gap: 70px;
  height: 45px;
  padding-top: 0px;
  color: white;
  justify-content: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  align-items: center;
  font-size:small;

}

.titulo{
  color: #efebeb;
  font-family: 'Poppins', sans-serif; 
  padding-left: 50px;
}


.elemento{
  width: 225px;
  height: 200px;
  background-color: #3a3745;
  padding: 10px;
  flex-direction: column;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.receita-popular{
  background-color: #000000;
  width: 100px;
  height: 100px;
}

.elemento-lateral {
  background-color: #633C3C;
  height: 100px;
  width: 200px;
}
.bloco-receita-popular {
  display: flex;
}

.receitas-principais{
  display: grid;
}

.pai-cabecalho {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: flex-end;
}

.classificacao { 
  margin-bottom: 20px;
}

.popular {
  color: white;
  letter-spacing: 10px;
  font-size: small;
  display: grid;
  gap: 25px;
}

.elemento-inferior{
  width: 225px;
  height: 60px;
  background-color: #633C3C;
  padding-top: 0;
  opacity: 0.9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

h1 {
  margin-top: 20px;
  letter-spacing: 10px;
  font-family: 'Poppins', sans-serif;
}

.conteiner{
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  gap: 20px; 

}


input[type="text"] {
    transform: translateX(70px); 
    display: inline-block;      
}

input[type="text"] {
    max-width: 701px;
    aspect-ratio: 701 / 62; 
    padding: 20px;
    font-size: 0.9rem; 
    background-color: #716565;
    border: none;
    outline: none;
    color: white;
    mask-image: url('../asset/icons/Rectangle 6.svg');
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    background-image: url('../asset/icons/Vector\ \(2\).svg'); 
    background-size: 20px; 
    background-position: 15px center; 
    background-repeat: no-repeat;
    padding-left: 50px;
}

input[type="text"]::placeholder {
    color: #ffffff82;     
}

.pesquisatopo input[type="text"] {
  padding-left: 50px;
}

.pesquisatopo button {
    max-width: 238.97px;
    aspect-ratio: 238.97 / 62; 
    padding: 20px;
    padding-left: 50px;
    font-size: 0.9rem;
    color: white;
    background-color:rgba(46, 41, 50, 0.88);
    mask-image: url('../asset/icons/botaotopo.svg');
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('../asset/icons/botaotopo.svg');
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    border: none;
    outline: none;
}

a {
    color: inherit; 
    text-decoration: none;
}

/*Animação da barra para aparecer */ 

#toggle {
    display: none;
}

.linkscategoria {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-1px);
    transition: height 0.5s ease-in-out, opacity 0.3s ease-in, transform 0.3s ease;
}

/* Quando o checkbox for marcado, a barra desliza para baixo */
#toggle:checked ~ .linkscategoria {
    height: 50px; 
    opacity: 1;
    transform: translateY(0);
}

#cadastrar {
  display: inline-block;
  padding: 10px 35px;
  background-color: #3f3f3f;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  opacity: 0.9;
  font-size: 15px;
  font-weight: 550;
}


/* footer */


.footer {
    background-color: #2E2932;
    padding: 40px 0;
    text-align: center;
    color: #ffffff;
    
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }


  .footer-container svg {
    width: 200px;
    fill: black;
  }
  
  
  .footer-logo {
    font-size: 24px;
    color: #5C6BC0;
    margin-bottom: 20px;
  }
  
  .footer-nav {
    margin-bottom: 20px;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 15px;
    font-size: 16px;
  }
  
  .footer-social {
    margin-bottom: 30px;
  }
  
  .footer-social img {
    width: 30px;
  }

  .social-link {
    margin: 0 10px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    
  }
  
  .footer-copyright {
    font-size: 14px;
    color: #aaa;
  }
  

 

footer {
    padding: 40px 0;
    text-align: center;
    color: #ffffff;
    
  }


  

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(114, 74, 74, 0.5);
  border-radius: 10px;
}
