@media (max-width: 900px) {

    
    .logotipo img {
        /* Remove a largura mínima e ajusta a largura para caber na tela */
        min-width: unset;
        width: 50vw;
        margin-bottom: 20px;
    }

    .logotipo {
        display: grid;
        justify-content: center;
        justify-items: center;


        
    }


    input[type="text"] {

    width: 320px;
    mask-image: url('/asset/icons/Rectangle7.svg');
    
    
   
    transform: translateX(0px); 

    
}


.pesquisatopo button {
    width: 1px;
    height: 1px; 
    mask-image: url('/asset/icons/menu\ 1.svg');
    
    
    color: transparent;
    padding-left: 20px;
    
}


.pesquisatopo {
    gap: 10px;
    padding-right: 0;
    box-sizing: border-box;
    align-items: center;
    
}

}

