@media (max-width: 480px) {

    
    .logotipo img {
        /* Remove a largura mínima e ajusta a largura para caber na tela */
        min-width: unset;
        width: 50vw;
        margin-bottom: 20px;
    }

    .logotipo {
        display: grid;
        justify-content: center;
        justify-items: center;


        
    }


    input[type="text"] {

    width: 320px;
   
    

    
}





.pesquisatopo button {

    width: 40px;
    box-sizing: content-box;

    
    
    

}

.pesquisatopo {
    gap: 20px;
    
    box-sizing: border-box;
    
}

}